/* Shared Style */
.Main-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-primany{
    color: #4e47ff;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
 }

.btn-main{
  background-color: #4e47ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

/* Header */
.header{
  background-image: url('../Assets/Hero-bg.png');
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 120px;
  text-align: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner{
  font-weight: bold;
  font-size: 35px;
}

/* Preview */
.preview-section{
  padding-top: 110px;
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preview-maintext{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 0px;
}
.preview-secoundtext{
  font-weight: normal;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #2b2a3b81;
}
.preview-image{
  width: 350px;
  border-radius: 48px;
}